name: Build and Push to GHCR

# Run this when you push to the main branch
on:
  push:
    branches: [ "master" ]
    
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
      - '.dockerignore'

# Automatic permissions for the GITHUB_TOKEN
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: iteranya/viel-ai

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Step 1: Add QEMU for multi-arch emulation
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # Step 2: Add Docker Buildx for building
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          # Step 3: Specify the platforms to build
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest